<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mamata</title>
    <!-- <link rel="shortcut icon" type="image" href="static/images/web_logo.png"> -->
    <link rel="icon" type="image/png" href="static/images/web_logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous"> 
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script> 

     <script src="https://kit.fontawesome.com/ab66e8c8b5.js" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="static/style.css">


</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><img src="static/images/logo.png" class="img_logo"  alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="#about">About</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="#projects">projects</a>
              </li>

              <li class="nav-item">
                <a class="nav-link active" href="#contact">Contact Me</a>
              </li>
          </div>
        </div>
      </nav>

      


    <section class="carousel">
        <div id="carouselExampleIndicators" class="carousel slide">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="static/images/code_women.jpeg" class="d-block w-100 carousel-img img-fluid" alt="...">
              </div> 
              <div class="carousel-item">
                <img src="static/images/homr.jpeg" class="d-block w-100 carousel-img" alt="...">
              </div>
              <div class="carousel-item">
                <img src="static/images/tw.jpeg" class="d-block w-100 carousel-img" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </section>
      
    <section class="about my-5" id="about">
        <div class="container">
          <div class="text-center">
            <h1 class="about-me">About <span class="text-primary">Me</span> <h1>
            <hr class="w-25 m-auto mb-3">
          </div>
        </div>

       <div class="container my-3 justify-content-center align-items-center abt-cont">
        <div class="row ms-5 abt-row">
            <div class="col-sm-12 col-md-6 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
            <div class="card card1 my-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title h">Basic Info</h5>
                  <p class="card-text"></p>This is Mamta,I am a motivated and hard working individual who is constantly looking for new challenges and opportunities to grow in my career.
                </div>
              </div>
            </div>

              <div class="col-sm-12 col-md-6 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
              <div class="card card2 my-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Education</h5>
                  <p class="card-text">I have done my Master's in computer application degree from Gulbarga university,Kalaburagi and Bsc degree from karnataka state womens university,Vijayapura</p>
                </div>
              </div>
              </div>

              <div class="col-sm-12 col-md-12 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
              <div class="card card3 my-3" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title">Skills</h5>
                  <p class="card-text">My skills includes programming in python, C++,web tecnologies like HTML, CSS, JS, Bootstrap and Django, AI/ML, Sql, OOPs, Data structure</p>
                </div>
              </div>
              </div>

        </div>
       </div>

    </section>

    <section class="projects my-3" id="projects">
        <div class="container">
            <div class="text-center">
              <h1 class="proj-h1">My <span class="text-primary">Projects</span> <h1>
              <hr class="w-25 m-auto">
            </div>
          </div>

          <div class="container align-items-center">
            <div class="row py-3 ms-5 me-3">

                <div class="col-sm-12 col-md-6 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
                <div class="card ms-3 my-3" style="width: 18rem;">
                    <img src="static/images/home_page.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Hotel Management System</h5>
                      <p class="card-text">This system is built using python gui tkinter with mysql as backend it make hotels day to day activities easy to use.</p>
                      <a href="https://drive.google.com/file/d/1gI_wi9VrFCDgHJhg4UkNX0sz1CTyituD/view?usp=share_link" class="btn btn-primary" target="_blank">See Demo</a>
                    </div>
                  </div>
                </div>
    
                <div class="col-sm-12 col-md-6 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
                    <div class="card ms-3 my-3" style="width: 18rem;">
                        <img src="static/images/sms.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Student Management System</h5>
                          <p class="card-text">It is built using python gui tkinter,it allows us to store students data in a efficient way</p>
                          <a href="https://drive.google.com/file/d/10niJQvSpiEQ_deRdpYID6-hZC2P74-In/view?usp=share_link" class="btn btn-primary" target="_blank">See Demo</a>
                        </div>
                      </div>
                    </div>
    
                    <div class="cardp col-sm-12 col-md-12 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
                        <div class="card cardp ms-3 my-3" style="width: 18rem;">
                            <img src="static/images/portfolio.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Portfolio</h5>
                              <p class="card-text">I have designed this beautifull and responsive portfolio using html, css and bootstrap,with a user contact form.</p>
                              <a href="https://mamata171.github.io/Portfolio/" class="btn btn-primary" target="_blank">See Demo</a>
                            </div>
                          </div>
                        </div>
                </div>


                <!-- ************ second row *********** -->
                <div class="row py-4 ms-5 me-3 proj-row2">

                    <div class="col-sm-12 col-md-6 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
                    <div class="card ms-3 my-3" style="width: 18rem;">
                        <img src="static/images/sign2.png" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Sign Language Translator</h5>
                          <p class="card-text">It is built using deep learning which converts gestures into meaningful sentence/word</p>
                          <a href="https://drive.google.com/file/d/15TMSq99S8J26XYGxGFFhMABuRJy4W5zT/view?usp=sharing" class="btn btn-primary" target="_blank">See Demo</a>
                        </div>
                      </div>
                    </div>
        
                    <div class="col-sm-12 col-md-6 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
                        <div class="card ms-3 my-3" style="width: 18rem;">
                            <img src="static/images/emotion.png" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">Emotion In Text Classifier</h5>
                              <p class="card-text">It is a nlp project which finds emotion in a text and also tells the confidence of emotion with graph</p>
                              <a href="https://mamata171-emotion-in-text-recognizer-app-ypat5k.streamlit.app/" class="btn btn-primary" target="_blank">Try It</a>
                            </div>
                          </div>
                        </div>
        
                        <div class="col-sm-12 col-md-12 col-lg-4 col-12" data-aos="fade-up-right" data-aos-offset="200">
                            <div class="card cardw ms-3 my-3" style="width: 18rem;">
                                <img src="static/images/whatsapp.png" class="card-img-top" alt="...">
                                <div class="card-body">
                                  <h5 class="card-title">Whatsapp Chat Analyzer</h5>
                                  <p class="card-text">You can analyze your group chats or personal chat using this web app with beautifull charts</p>
                                  <a href="https://mamata171-whatsapp-chat-analyzer-using-machine-learn-app-7csz7d.streamlit.app/" class="btn btn-primary" target="_blank">Try It</a>
                                </div>
                              </div>
                            </div>
                    </div>
            </div>
            
    </section>

    <section class="contact my-5" id="contact">

        <div class="container">
            <div class="text-center">
              <h1 class="about-me">Get In <span class="text-primary">Touch</span> <h1>
              <hr class="w-25 m-auto mb-3">
            </div>
          </div>

          <div class="container">
            
            <div class="row row-cont">
                <div class="col-sm-12 col-md-6 col-lg-6 col-12" data-aos="fade-up-left" data-aos-offset="200">
                  <img src="static/images/cup.jpeg" class="img-fluid last_img rounded" alt="">
                </div>

                <div class="form-div col-sm-12 col-md-6 col-lg-6 col-12 py-0" data-aos="fade-up-right" data-aos-offset="200">
                  <div class="row g-3">
                    <form action="" class="my-3" method="POST" onsubmit="showSuccessMessage()">
                      {% csrf_token %}
                      <div class="row name_city">
                        <div class="col col-sm-6 col-md-6 col-lg-6 col-6 mb-2">
                          <input type="text" class="form-control"  placeholder="Your Name" name="name" aria-label="First name" required>
                        </div>
    
                        <div class="col col-sm-6 col-md-6 col-lg-6 col-6 mb-2">
                            <input type="text" class="form-control"  placeholder="Your city" name="city" aria-label="Your city">
                        </div>
    
                      </div>      
              
                    <div class="col mb-2">
                      <input type="text" class="form-control"  placeholder="Mobile No." required name="phone" aria-label="Mobile No.">
                    </div>

                      <div class="mb-2">
                        <input type="email" class="form-control" id="exampleFormControlInput1" name="email" required placeholder="Your Email id">
                      </div>
                      <div class="mb-2 py-0">
                        <textarea class="form-control" id="exampleFormControlTextarea1" required rows="4" placeholder="write message here" name="message"></textarea>
                      </div>

                      <div class="mb-2 py-0">
                        <button type="submit" class="btn btn-primary" id="btn">Submit</button>
                      </div>
                    </form>
                  </div>

                </div>

              </div>
              </div>
          
    </section>

   

    <section class="footer mt-5 pt-1 pb-2 bg-dark"> 
        <div class="text-center  mt-3 mb-2">
          <h5 class="acct text-light">My social media accounts </h3>
        </div>
          <!-- <hr class="w-25 m-auto"> -->
          <!-- <p class="text-light text-center" style="color: darkgray;">you can also contact me through these networks</p> -->
          <div class="text-center text-light pb-2 social_media">
            <a href="https://instagram.com/mamata_madgun?utm_medium=copy_link" target="_blank" class="insta ms-1 p-1">
            <i class="fa fa-instagram p-1 ps-2"></i>
          </a>

          <a href="https://github.com/mamata171?tab=projects&type=beta" target="_blank" class="github ms-1 p-1">
            <i class="fa fa-github p-1 ps-2"></i>
          </a>

          <a href="https://www.linkedin.com/in/mamata-madgunki-176a4a22a/"  target="_blank" class="linkedin ms-1 p-1">
            <i class="fa fa-linkedin p-1 ps-2"></i>
          </a>
      </div>

      </section>   

      <div class="container-fluid bg-primary text-light text-center p-2">Designed by Mamata</div> 
      
      <script>
        function showSuccessMessage() {
          alert("Form submitted successfully")
        }
      </script>

</body>
</html> 

